<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean class="com.yesmynet.database.query.service.DatabaseIniterService" init-method="init">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
		<property name="sqlFile" value="classpath:databaseUpdate.sql"></property>
		<property name="expectedDatabaseVersion" value="1"></property>
		
	</bean>
	<bean id="parameterValidatorDefine" abstract="true">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="queryDefinitionService" class="com.yesmynet.database.query.core.service.impl.QueryDefinitionServiceImpl" >
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
		<property name="defaultQueryInstance" ref="queryDefaultImpl"></property>
		<property name="parameterValidatorDefineList">
			<list>
				<bean class="com.yesmynet.database.query.core.service.impl.ParameterRegularExpressionValidatorDefine" parent="parameterValidatorDefine">
				</bean>
			</list>	
		</property>
	</bean>
	
	<bean id="queryDefaultImpl" class="com.yesmynet.database.query.service.QueryDefaultImpl" >
		<property name="databaseDialectServices">
			<list>
				<bean class="com.yesmynet.database.query.service.DatabseDialectService$1">
				</bean>
			</list>	
		</property>
		
	</bean>
	
	
	<bean id="dataSourceService" class="com.yesmynet.database.query.core.service.impl.DataSourceServiceImpl" >
		<property name="dataSourceConfigList">
			<list>
				<bean class="com.yesmynet.database.query.dto.DataSourceConfig">
					<property name="id" value="oracleDataSourceId"></property>
                    <property name="name" value="oracle数据库"></property>
                    <property name="databaseDialect" value="Oracle"></property>
                    <property name="datasource">
						<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource">
					       <property name="driverClassName">
					           <value>oracle.jdbc.driver.OracleDriver</value>
					       </property>
					       <property name="url">
					           <value>jdbc:oracle:thin:@127.0.0.1:1521:haijie</value>
					       </property>
					       <property name="username">
					           <value>sc</value>
					       </property>
					       <property name="password">
					           <value>sc_abc</value>
					       </property>
						</bean>
                    </property>
				</bean>
				
				<bean class="com.yesmynet.database.query.dto.DataSourceConfig">
					<property name="id" value="derbyDataSourceId"></property>
                    <property name="name" value="derby数据库"></property>
                    <property name="databaseDialect" value="Derby"></property>
                    <property name="datasource" ref="dataSource">
                    </property>
                    <property name="permitRoles">
                    	<list>
							<bean class="com.yesmynet.database.query.dto.Role">
								<property name="roleCode" value="role_admin"></property>
							</bean>
						</list>	
                    </property>
				</bean>
				
			</list>
		</property>
		
	</bean>

	<bean id="queryRenderService" class="com.yesmynet.database.query.core.service.impl.QueryRenderServiceImpl" >
	</bean>
	<bean id="queryExecutorService" class="com.yesmynet.database.query.core.service.impl.QueryExecutorServiceImpl" >
	</bean>		
	

</beans>
