<#import "function.ftl" as dbQueryFuntion>
<!DOCTYPE HTML>
<html>
	
	<@dbQueryFuntion.head></@dbQueryFuntion.head>
	<script type="text/javascript">
		function submitQueryForm()
		{
			$("#queryForm").submit();
		}
		shortcut.add("F8", submitQueryForm);//定义快捷键
	</script>
	<body>
		<div class="divBlock">
			<form id="queryForm" action="" method="POST">
				<input type="hidden" name="SystemQueryExecute" value="">
				${queryHtml}
			</form>
		</div>
		<div class="divBlock">
			
			${(queryResult.content)!""}
			<pre>${queryExecuteExceptionString}</pre>	
				
		</div>
	</body>
</html>

