<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>查询数据库</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="Stylesheet"/>
	</head>

	<body>
		<div class="divBlock">
			<form action="" method="POST">
				<input type="hidden" name="SystemQueryExecute" value="">
				${queryHtml}
			</form>
		</div>
		<div class="divBlock">
			${(queryResult.content)!""}
			${(queryExecuteException)!""}
		</div>
	</body>
</html>