<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>查询数据库</title>
		<!-- <link rel="stylesheet" href="${requestContext.contextPath}/css/style.css" type="text/css" media="screen" title="Stylesheet"/>这个样式会导致 jquery ui显示的样式不对 -->
		<link rel="stylesheet" href="${requestContext.contextPath}/css/jquery-ui.css" />
		
  		<script src="${requestContext.contextPath}/js/jquery-1.10.1.js"></script>
  		<script src="${requestContext.contextPath}/js/jquery-ui.js"></script>
	</head>

	<body>
		<div class="divBlock">
			<form action="" method="POST">
				<input type="hidden" name="SystemQueryExecute" value="">
				${queryHtml}
			</form>
		</div>
		<div class="divBlock">
			
			${(queryResult.content)!""}
			<pre>${queryExecuteExceptionString}</pre>	
				
		</div>
	</body>
</html>

